{:source-paths ["src", "test"]
 :dependencies [[instaparse "1.4.10"]
                [org.clojure/tools.cli "1.0.194"]]
 :dev-http {8080 "target/"}
 :builds {:lib
          {:target :node-library
           :output-to "dist/lib.js"
           :exports-var bach.track/compose}
          ; TODO: Update package.json:main, package.json:module
          :esm
          {:target :esm
           :output-dir "dist"
           :modules {:lib {:exports {compose bach.track/compose}}}}
          :npm
          {:target :npm-module
           :output-dir "dist"
           :entries [bach.track]}
          :test
          {:target    :node-test
           :output-to "target/js/node-tests.js"
           :ns-regexp "-test$"
           :autorun   true}}}
