:root {
  --base-font-size: 14px;
  /* --theme-color: salmon; */
  /* --theme-color: #FAA372; */
  --theme-color: #FA9F6D;
  --cover-heading-font-size: 64px;
  /* --cover-blockquote-color: salmon; */
  --cover-blockquote-color: var(--theme-color);
}

.logo {
  font-family: 'Aladin', cursive;
  font-size: 48px;
}

.sidebar > h1.app-name .app-name-link {
  font-family: 'Aladin', cursive;
  font-size: 32px;
}
